<!DOCTYPE html>
<html>
  <head>
    <title>My route page</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1><%=title %></h1>

    <%if (cookies.length) { %> <b>Cookies</b> <% for(let i = 0; i <
    cookies.length; i++) {%>
    <li><%= cookies[i][0] %> - <%= cookies[i][1] %></li>
    <% } %> <% } %> <%if (headers.length) { %> <b>Headers</b> <% for(let i = 0;
    i < headers.length; i++) {%>
    <li><%= headers[i][0] %> - <%= headers[i][1] %></li>
    <% } %> <% } %> <%if (params.length) { %> <b>Pramas</b> <% for(let i = 0; i
    < params.length; i++) {%>
    <li><%= params[i][0] %> - <%= params[i][1] %></li>
    <% } %> <% } %> <%if (queryParams.length) { %> <b>queryParams</b> <% for(let
    i = 0; i < queryParams.length; i++) {%>
    <li><%= queryParams[i][0] %> - <%= queryParams[i][1] %></li>
    <% } %> <% } %>
  </body>
</html>
