<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1><%=title %></h1>
    <%if (users.length) { %> <% for(let i = 0; i < users.length; i++) {%>
    <ul>
      <li>
        <div>
          <b>username - <%= users[i].username %></b>
        </div>
      </li>
      <li>
        password - <%= users[i].password %>
      </li>
      <li>
        gender - <%= users[i].gender %>
      </li>
    </ul>
    <% } %> <% } %>
  </body>
</html>
